* {
    margin: 0%;
    padding: 0;

}
body {
    text-align: center;
    border: 8px solid rgba(5, 5, 5, 0.5)
}
header {
    background-image: url("../img/mask.png");
height: 480px;px;
background-repeat: no-repeat;
}
h1{
    font-family: 'Bodoni Moda', serif;
    font-family: 'Khula', sans-serif;
    font-family: 'Roboto Serif', sans-serif;
    font-family: 'Syne Mono', monospace;
    font-size: 120px;
    color: rgb(47, 89, 126);
    padding-top: 200px;
    text-shadow: 1px 1px #1b1a30, 10px 10px #1b1a30,1px 1px #1b1a30

}


.main-site {
    margin-top: 50px;
    font-family: 'Bodoni Moda', serif;
font-family: 'Khula', sans-serif;
font-family: 'Roboto Serif', sans-serif;
font-family: 'Syne Mono', monospace;
}
.members {
    padding: 70px;

}

h2 {
    padding: 50px;
}

img {
    img: 40%;
    border-radius: 25%;
}

footer {
    padding: 20px;
}

.main-site{
    background: 
      linear-gradient(
         #fff, blue
      );
}
a {
background-color: #131112;
text-decoration: none;
color: #fff;
padding: 10px;
border-radius: 20%;
display: inline-block;
transition: background-color .5s, color .5s linear, border-radius 2s ease-out;

}
a:hover {
    background-color: #2c2c31;
    color: black;
    border-radius: 25%;
}
footer {
    margin-top: 50px;
    animation: changeShift 5s infinite;
}
@keyframes changeShift {
    0%, 100% {
transform:  translate(0,0);
border-radius: 25%;
background-color: aqua;
    }
    20% {
        transform: translate(200px, -400px) scale(0.6, 0.6);
        border-radius: 2%;
        background-color: rgb(46, 87, 87);
    }
    50%{
        transform: translate(500px, -700px) rotate(180deg);
        border-radius: 25%;
        background-color: rgb(15, 233, 233);
    }
}

